streamlit
langchain-experimental==0.0.45
llama-index==0.9.13
llama-cpp-python
sentence_transformers
weaviate-client==3.24.1
openai==1.1.2
sqlalchemy
debugpy
openpyxl
PyPDF2
pypdf
docx2txt
PyCryptodome
graphviz==0.20.1
networkx==3.1
beautifulsoup4==4.12.2
colorama==0.4.5
newspaper3k==0.2.8
htmldate
datefinder
retry
